<div class="col flex align-items-center justify-content-center">
  <span>
    <b>
      <h3> WORLD-CLASS INSTRUCTORS</h3> </b> <br/>
        Classes Taught by Industry Expert<br/>
        Geeks teachers are icons, experts, and industry rock stars excited to share their experience, wisdom, and trusted tools with you.
    </span>
</div>
<p-carousel
    [value]="Products"
    [numVisible]="3"
    [numScroll]="3"
    >
        <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 p-3">
                <div class="mb-3">
                    <div class="relative mx-auto">
                      <img [src]="product.image" alt="{{ product.name }}" class="w-full border-round" style="max-width: 10; height: 10;"/>
                        <p-tag
                            [value]="product.inventoryStatus"
                            [severity]="getSeverity(product.inventoryStatus)"
                            class="absolute"
                            [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
                    </div>
                </div>
                <div class="mb-3 font-medium">
                    {{ product.name }}
                </div>
                <div class="flex justify-content-between align-items-center">
                    <div class="mt-0 font-semibold text-xl">
                        {{ '$' + product.price }}
                    </div>
                    <span>
                        <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
                        <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
                    </span>
                </div>
            </div>
        </ng-template>
</p-carousel>

<p-splitter
    [panelSizes]="[25, 75]"
    [style]="{ height: '300px' }"
    styleClass="mb-5">
    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center">
          <p>
            <p-avatarGroup styleClass="mb-3">
                <p-avatar
                    image="https://geeksui.codescandy.com/geeks/assets/images/avatar/avatar-1.jpg"
                    size="large"
                    shape="circle" />
                <p-avatar
                    image="https://geeksui.codescandy.com/geeks/assets/images/avatar/avatar-2.jpg"
                    size="large"
                    shape="circle" />
                <p-avatar
                    image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                    size="large"
                    shape="circle" />
                <p-avatar
                    image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                    size="large"
                    shape="circle" />
          </p-avatarGroup>
          <span>
            Earn money
            Earn money every time a student purchases your course. Get paid monthly through Paypal or Payoneer .
          </span>
        </p>
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center">
          <p-splitter
          [style]="{ height: '300px' }"
          styleClass="mb-5"
          layout="vertical">
              <ng-template pTemplate>
                  <div class="col flex align-items-center justify-content-center">
                    Top instructors from around the world teach millions of students on Geeks. We provide the tools and skills to teach what you love
                  </div>
              </ng-template>
              <ng-template pTemplate>
                  <div class="col flex align-items-center justify-content-center">
                    <p-splitter [style]="{ height: '300px' }" styleClass="mb-5">
                      <ng-template pTemplate>
                          <div class="col flex align-items-center justify-content-center ">
                            Inspire students<br/>                            <br/>
                            Help people learn new skills, advance their careers,<br/>
                            and explore their hobbies by sharing your knowledge.
                          </div>
                      </ng-template>
                      <ng-template pTemplate>
                          <div class="col flex align-items-center justify-content-center">
                            Join our community<br/><br/>
Take advantage of our active community of instructors <br/> to help you through your course creation process.
                          </div>
                      </ng-template>
                  </p-splitter>
                  </div>
              </ng-template>
      </p-splitter>
        </div>
    </ng-template>
</p-splitter>
