  <p-splitter
      [style]="{ height: '300px' }"
      styleClass="mb-5">
          <ng-template pTemplate>
                <div class="col flex align-items-center justify-content-center">
                  <span>
                    <b>
                      <h3> Build Better Team</h3><br/>
                        <br/>
                          Build skills with courses Join Geeks to watch, play, learn, make,<br/>
                          and discover, uscipit esi viimentum laoreet non et odio.
                    </b>
                    </span>
                </div>
          </ng-template>
  </p-splitter>
